ex-detrend-1.pdf
ex-detrend-2.pdf
ex-qq1-1.pdf
ex-qq1-2.pdf
ex-qq2-1.pdf
ex-qq2-2.pdf
heights-1.pdf
heights-2.pdf
jump-density-1.pdf
qqline-1.pdf
qqline-2.pdf
qqline-3.pdf
qqline-4.pdf
sev-qq-1.pdf
urine-qq-bands-1.pdf
weights-1.pdf
weights-2.pdf
weights-log-1.pdf
detrend-sev-1.pdf
